.wp-block-cb-listing-anything-categories-slider {
	width: 100%;

	.cb-categories-slider__arrow {
		pointer-events: none;
		opacity: 0.7;
	}

	.cb-categories-slider__track {
		pointer-events: none;
	}
}
