.wp-block-cb-listing-anything-listing-user-dashboard {
	.cb-listing-user-dashboard {
		max-width: 100%;
	}

	.cb-listing-user-dashboard__inner {
		align-items: flex-start;
	}

	.cb-listing-user-dashboard__section {
		box-shadow: none;
	}
}

